In [236]:
import pandas as pd
import numpy as np

In [240]:
ratings_df = pd.read_csv('../data/ml-latest-small/ratings.csv')
ratings_df_sorted = ratings_df.sort_values(['userId','movieId'])
ratings_df_sorted.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [238]:
ratings_df.pivot(columns='movieId', values='rating', index='userId')

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
user_item_matrix = ratings_df_sorted.pivot(index='userId', columns='movieId', values='rating')
user_item_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Random recommender

In [187]:
movies_df = pd.read_csv('../data/ml-latest-small/movies.csv')

In [188]:
sorted_rating_sums = user_item_matrix.sum(axis=0).sort_values(ascending=False)
sorted_rating_sums

movieId
318       1404.0
356       1370.0
296       1288.5
2571      1165.5
593       1161.0
           ...
97024        0.5
72696        0.5
122888       0.5
95796        0.5
141994       0.5
Length: 9724, dtype: float64

In [189]:
proba_series = sorted_rating_sums / sorted_rating_sums.sum()
proba_series

movieId
318       0.003976
356       0.003880
296       0.003649
2571      0.003301
593       0.003288
            ...
97024     0.000001
72696     0.000001
122888    0.000001
95796     0.000001
141994    0.000001
Length: 9724, dtype: float64

In [190]:
def recommend_randomly():
    recommended_movie_id = np.random.choice(proba_series.index, p=proba_series.values)
    recommended_movie = movies_df[movies_df['movieId']==recommended_movie_id]['title'].values[0]
    return recommended_movie_id, recommended_movie

In [235]:
recommend_randomly()

(208, 'Waterworld (1995)')

In [192]:
# sum of unseen films for each user
unseen_sum_vs_user = user_item_matrix.T.isna().sum().sort_values(ascending=False)
unseen_sum_vs_user

userId
257    9704
278    9704
576    9704
207    9704
406    9704
       ...
274    8378
448    7860
474    7616
599    7246
414    7026
Length: 610, dtype: int64

In [193]:
user_correlation_matrix = user_item_matrix.T.corr()
user_correlation_matrix.tail()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
606,0.066378,0.583333,-0.791334,0.144603,0.244321,-0.049192,0.137771,0.253582,0.572700,-0.382955,...,0.290490,0.140613,0.318473,0.682949,0.167062,1.000000,0.114191,0.240842,0.533002,0.389185
607,0.174557,NaN,-0.333333,0.116518,0.231080,0.255639,0.402792,0.251280,NaN,-0.241121,...,0.698241,0.217210,0.192787,0.035806,-0.299641,0.114191,1.000000,0.200814,0.190117,0.106605
608,0.268070,-0.125000,-0.395092,-0.170501,-0.020546,0.125428,0.008081,0.434423,0.336625,-0.571043,...,0.473967,0.297646,0.086423,0.053986,-0.075673,0.240842,0.200814,1.000000,0.488929,0.147606
609,-0.175412,NaN,NaN,-0.277350,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,1.000000,0.188512,0.343303,0.641624,-0.550000,0.533002,0.190117,0.488929,1.000000,-0.521773
610,-0.032086,0.623288,0.569562,-0.043786,0.040582,0.115580,0.341233,0.167931,0.615638,-0.205081,...,0.007025,0.049263,0.270908,0.310611,0.462274,0.389185,0.106605,0.147606,-0.521773,1.000000

In [194]:
def get_similar_users(user_id):
    user_correlation = user_correlation_matrix.iloc[user_correlation_matrix.index==user_id].T.sort_values(by=user_id, \
                                                        ascending=False).dropna()
    best_similar_users = user_correlation[user_correlation>0.2].dropna()[1:]
    return best_similar_users.index

In [195]:
get_similar_users(1) # ok

Int64Index([146, 550, 106, 333, 598, 473, 511,   9,  13, 366,
            ...
            542, 187, 296,   4, 144, 223, 561,  18,  64, 101],
           dtype='int64', name='userId', length=233)

In [196]:
user_item_matrix.tail()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
users_not_seen_films = user_item_matrix.T.isna()
users_not_seen_films.tail()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
193581,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
193583,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
193585,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
193587,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
193609,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [198]:
users_seen_films = user_item_matrix.T.notna()
users_seen_films.tail()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
193581,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193583,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193585,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193587,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [199]:
def get_unseen_films(user_id):
    user_boolean_series = users_not_seen_films[[user_id]]
    not_seen_films = user_boolean_series.index[user_boolean_series[user_id]].tolist()
    return not_seen_films

In [200]:
def get_seen_films(user_id):
    user_seen_boolean_series = users_seen_films[[user_id]]
    seen_films = user_seen_boolean_series.index[user_seen_boolean_series[user_id]].tolist()
    return seen_films

In [201]:
def get_sorted_films_by_rating(user_id):
    output = user_item_matrix.loc[[user_id]].T.sort_values(by=user_id, ascending=False).dropna().index
    return output.tolist()

In [214]:
def suggest_best_film_from_best_similar_user(user_id) : 
    
    seen_films = get_seen_films(user_id)    
    sorted_similar_users = get_similar_users(user_id)  
    
    next_user = sorted_similar_users[0]
    suggestion = get_sorted_films_by_rating(next_user)[0]    
    j = 0 
    i = 0
    
    while suggestion in seen_films:
        i+=1
        suggestion = get_sorted_films_by_rating(next_user)[i]
        if i == len(get_sorted_films_by_rating(next_user)) -1 :            
            j+=1
            next_user = sorted_similar_users[j]
            i = -1
    return suggestion